# User-specific files
*.user

# Build results
[Dd]ebug/
[Rr]elease/

# Visual C++ cache files
*.VC.db
*.VC.VC.opendb

#
*.tmp

# Object files
*.o

# Precompiled Headers
*.gch

# Executables
http_inject
